/* Style the buttons that are used to open and close the accordion panel */
.accordion, .active-accordion {
  background-color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 30px;
  padding-left: 40px;
  text-align: left;
  transition: 0.4s;
}

.accordion-item-container {
  border-bottom: 1px solid #1951B4;
  margin-bottom: 20px;
}

.accordion-flex-container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .accordion-image-container {
    margin-right: 15px;
  }

  .accordion-text-container {
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .accordion-text-container {
    margin-top: 18.4px;
  }
}

.panel-expand, .panel-collapse {
  float: 'right';
  overflow: 'hidden';
}

.panel-collapse {
  margin-top: 18px;
}

.panel-expand {
  margin-top: 7px;
}

.accordion-chinese, .accordion-english {
  font-size: 20px;
  line-height: 37px;
  color: #1951B4;
  letter-spacing: 0;
  width: 100%;
  margin-right: 40px;
}

.accordion-chinese {
  font-family: 'PingFangSC-Semibold';
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.active-panel {
  padding: 30px 18px;
  background-color: white;
  display: block;
  overflow: hidden;
}

.panel-chinese {
  font-family: 'PingFangSC-Light';
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 30px;
}

.panel-english {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 30px;
}