.rounded-apt-card {
	border-style: solid;
  	border-width: 0.5px;
	border-color: #d0d4d6;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 15px;
	height: 100px;
	width: 1000px !important; /* Make sure the div fills the container width */
}