.chinese-head {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #333333;
  letter-spacing: 0.42px;
}

.english-head {
  /* Add styles when provided by design */
  font-size: 15px;
  color: #333333;
}

nav.navbar.navbar-default, a.navbar-brand, nav li a {
  background-color: #FFFFFF;
}

a.navbar-brand {
  height: 100% !important;
  padding-left: 55px;
  padding-bottom: 8px;
  padding-top: 12px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 33px;
    padding-left: 13px;
  }

  .clicked>a {
    border-bottom-style: solid;
    border-bottom-color: #1951B4;
    border-bottom-width: 5px;
    padding-bottom: 28px !important;
  }
}

@media screen and (max-width: 775px) {
  a.navbar-brand {
    padding: 0px;
  }

  .navbar img {
    height: 40px;
    margin-top: 5px;
  }
}
  
  .navbar .container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

.navbar-right {
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.nav.navbar-nav.navbar-right {
  padding-right: 40px;

}

.navbar-right .dropdown-menu a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
  color: rgb(119, 119, 119);
  background-color: #FFFFFF !important;
}

.navbar ul.dropdown-menu {
  background-color: #FFFFFF;
}

