body {
  font-family: "Lato",sans-serif;
}

.white {
  color: white !important;
}

.central-info {
  margin-top: 80px;
  margin-bottom: 80px;
}

.big-head {
  font-weight: 500;
}

.big-body {
  font-weight: 100;
  font-size: 24px;
  margin-top: 40px;
}

.medium-head {
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
}

.medium-body {
  font-weight: 100;
  font-size: 16px;
  margin-top: 20px;
}

.caps {
  font-weight: 100;
  font-size: 24px;
}

div.full-card {
  margin: auto;
  width: 30rem; 
  height: 20rem; 
  text-align: center; 
  margin-bottom: 80px; 
  padding-top: 25px;
  border: 1px solid #dcdcdc;
}

.rounded-card, div.full-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.rounded-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2px 16px;
}

a:hover, a:focus, div.media-body:hover, div.media-body:hover {
  text-decoration: none;
}

.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
  color: rgb(119, 119, 119);
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
  color: white;
}

div.media-body {
  color: black;
}

/* carousel preload container */
.wrapper {
  position: relative;
  background-color: #d5d5d5;
  width: 100%;
  padding-bottom: 36.79%;
}

.img-wrapper {
  position:absolute;
  width:100%;
  height:100%;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* form styles */
.form-entry {
  font-weight: 100;
  border-radius: 0px !important;
}

.form-submit, .form-close {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10;
  padding-bottom: 10;
  font-size: 14;
  font-weight: 100;
  margin-right: 10px;
}

.form-submit {
  background-color: rgb(57, 182, 179);
  color: white;
}

.circle {
  width:80px;
  line-height: 80px;
  border-radius:40px;
  color:#fff;
  text-align:center;
  background:rgb(57, 182, 179);
  margin: 0 auto;
}

.upper-margin {
  margin-top: 30px;
}

.lower-margin {
  margin-bottom: 30px;
}

.big-lower-margin {
  margin-bottom: 80px;
}

.media-height {
  min-height: 80px;
  position: relative;
}

.vert-align {
  margin-left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.block {
  vertical-align: middle;
  line-height: normal;
}

.circle-child {
  font-size:30px;
  vertical-align: middle;
  width: 100%;
}

.center-img {
  margin: 0 auto;
  width: 100%;
}

/* animations */
@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
.wiggle-me:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}


/* clap text in image block text */
.clampMe {
  position: relative;
  height: 4em; 
  overflow: hidden;
}

.clampMe:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 60px; /* Just use multiples of the line-height */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}

/*support -webkit-line-clamp and overwrite the non-supportive stuff */
@supports (-webkit-line-clamp: 2) {
  .clampMe {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }
  
  .clampMe:after {
    display: none;
  }
}